.moecraft {
}
.moecraft #table {
	position: absolute;
	top: 10%;
	left: 20%;
	height: 50%;
	width: 50%;
	background: -webkit-linear-gradient(45deg, #FFF, #F0F0F0);
	box-shadow: 15px 10px 3px 0px #888888;
}
.moecraft #hand {
	position: absolute;
	top: 72%;
	left: 15%;
	height: 160px;
	width: 70%;
	border: 1px solid black;
	box-shadow: 15px 10px 3px 0px #888888;
}
.moecraft #craftbutton {
	position: absolute;
	top: 35%;
	left: 80%;
}
.moecraft #drawbutton {
	position: absolute;
	top: 45%;
	left: 80%;
}
.moecraft .card {
	position: relative;
	top: 0px;
	left: 0px;
	float: left;
	height: 150px;
	width: 100px;
	border: 1px solid Black;
	margin: 5px 5px;
	background-color: White;
	text-align: center;
}
.moecraft .card span {
}
.moecraft .card img {
	max-height: 85%;
	max-width: 100%;
}
