.moecascade {
}
.moecascade #wrapper {
	width: 96%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}
.moecascade #columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}
@media (min-width: 1100px) {
	.moecascade #columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}
.moecascade #columns:hover .pin:not(:hover) {
	/*opacity: 0.4;*/
}
.moecascade #columns .opaque {
	opacity: 0.4;
}

.moecascade .pin {
	display: inline-block;
	border: 2px solid #FAFAFA;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(34, 25, 25, 0.4);
	-moz-box-shadow:    7px 7px 5px 0px rgba(34, 25, 25, 0.4);
	box-shadow:         7px 7px 5px 0px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFFFFF, #E9E9E9);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.moecascade .pin img {
	width: 100%;
	/* separate from the text */
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}
.moecascade .pin p {
	text-align: center;
	font: 16px/24px Arial, sans-serif;
	margin: 0;
}

.moecascade #detail {
	visibility: hidden;
	-webkit-box-shadow: 15px 15px 5px 0px rgba(34, 25, 25, 0.4);
	-moz-box-shadow:    15px 15px 5px 0px rgba(34, 25, 25, 0.4);
	box-shadow:         15px 15px 5px 0px rgba(34, 25, 25, 0.4);
	padding: 15px;
	background: -webkit-linear-gradient(45deg, #FFFFFF, #E9E9E9);
	position: fixed;
	top: 15%;
	left: 13%;
	width: 75%;
	min-height: 70%;
	max-height: 85%;
	overflow: auto;
}
.moecascade #detail>div:first-child {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 45%;
	height: 100%;
}
.moecascade #detail img {
	max-width: 100%;
	max-height: 100%;
	/* in the center */
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
.moecascade #detail>div:last-child {
	width: 55%;
	height: 90%;
	position: absolute;
	left: 45%;
	text-align: center;
}
.moecascade #detail a {
	text-decoration: none;
}
.moecascade #detail a span {
	margin-top: 5%;
	text-align: center;
	font-size: x-large;
}
.moecascade #detail table {
	width: 95%;
	position: absolute;
	top: 15%;
}
.moecascade #detail table td {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.moecascade #detail table tr:nth-child(odd) {
	background-color: white;
}
.moecascade #detail table tr:nth-child(even) {
	background-color: NavajoWhite;
}
.moecascade #detail table th:first-child {
	width: 30%;
}
.moecascade #detail table th:last-child {
	width: 70%;
}
